body {
  background: skyblue;
}
.well {
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clickable:hover {
  background: #ffff59;
  color: black;
}
h1,h2 {
  text-align: center;
  width: 100%;
}
.mydog {
  background: #954dde;
  color: white;
}
.apiDog {
  background: #3acc3a;
  color: white;
}
.columns {
  display: flex;
  flex-direction: row;
}
.column {
  width: 50%;
}
.well img {
  display: inline-block;
  height: 100px;
  border-radius: 10px;
}
.text-content {
  margin: 15px;
  width: 100%;
}
img.big-img {
  height: 200px;
}
